<div [class]="'login-body flex min-h-screen ' + (layoutService.config.colorScheme === 'light' ? 'layout-light' : 'layout-dark')">
    <div class="w-full flex justify-content-center align-items-center" style="background: var(--surface-ground)">
        <div class="text-center" style="padding: 5% 2%; max-width: 400px; width: 100%;">
            <p-toast key="tst"></p-toast>
            <h3 class="mb-4">Take a Picture</h3>
            <p-dialog header="Thinking ..." [(visible)]="display" [modal]="true" showEffect="fade" [style]="{width: '30vw'}" [breakpoints]="{'960px': '75vw'}">
                <p class="line-height-3 m-0">
                    Processing your face details please wait.
                </p>
            </p-dialog>
            <!-- Webcam Preview -->
            <video #video autoplay playsinline style="width: 100%; border-radius: 1rem; border: 1px solid var(--surface-border);"></video>

            <!-- Capture Button -->
            <button type="button" pButton label="Capture" class="mt-3 w-full" (click)="captureImage()"></button>

            <!-- Preview -->
            <div *ngIf="capturedImage" class="mt-4">
                <h5 class="mb-2">Preview</h5>
                <img [src]="capturedImage" style="width: 100%; border-radius: 1rem; border: 1px solid #ccc;" />
            </div>

            <!-- Send Button -->
            <button type="button" pButton label="Save your image" class="mt-3 w-full" (click)="sendToApi()"></button>
            <button type="button" pButton label="verify" class="mt-3 w-full" (click)="verify()"></button>
        </div>
    </div>
</div>
