<div class="grid p-fluid">
    <div class="col-12 lg:col-6">
        <div class="card flex flex-column align-items-center">
            <h5 class="text-left w-full">Stat 1</h5>
            <p-chart type="pie" [data]="data" [options]="options"></p-chart>
        </div>
    </div>
    <div class="col-12 lg:col-6">
        <div class="card flex flex-column align-items-center">
            <h5 class="text-left w-full">Stat 2</h5>
            <p-chart type="polarArea" [data]="data" [options]="options"></p-chart>
        </div>
    </div>
    <div class="col-12 lg:col-12">
        <div class="card">
            <h5>Bar Chart</h5>
            <p-chart type="bar" [data]="data" [options]="options"></p-chart>
        </div>
    </div>
</div>
