<div class="card p-10 shadow-lg rounded-xxl" style="height: 1000px;">
    <span class="text-900 text-xl font-bold mb-4 block">Créer un Sprint</span>
    <div class="grid">
        <div class="col-12 lg:col-2">
            <div class="text-900 font-medium text-xl mb-3">Détails du Sprint</div>
            <p class="m-0 p-0 text-600 line-height-3 mr-3">Veuillez entrer les détails pour le nouveau sprint.</p>
        </div>
        <div class="col-12 lg:col-10">
            <div class="grid formgrid p-fluid">
                <div class="field mb-4 col-12">
                    <label for="titre" class="font-medium text-900">Titre</label>
                    <input id="titre" type="text" pInputText [(ngModel)]="sprint.titre" required />
                </div>
                <div class="field mb-4 col-12">
                    <label for="description" class="font-medium text-900">Description</label>
                    <textarea id="description" pInputTextarea rows="5" [autoResize]="true" [(ngModel)]="sprint.description" required></textarea>
                </div>
                <div class="field mb-4 col-12 md:col-6">
                    <label for="ordre" class="font-medium text-900">Ordre</label>
                    <input id="ordre" type="number" pInputText [(ngModel)]="sprint.ordre" required />
                </div>
                <div class="field mb-4 col-12 md:col-6">
                    <label for="type" class="font-medium text-900">Type</label>
                    <input id="type" type="text" pInputText [(ngModel)]="sprint.type" required />
                </div>
                <div class="field mb-4 col-12 md:col-6">
                    <label for="dateDebut" class="font-medium text-900">Date de début</label>
                    <p-calendar id="dateDebut" [(ngModel)]="sprint.dateDebut" [dateFormat]="'yy-mm-dd'"></p-calendar>
                </div>
                <div class="field mb-4 col-12 md:col-6">
                    <label for="dateFin" class="font-medium text-900">Date de fin</label>
                    <p-calendar id="dateFin" [(ngModel)]="sprint.dateFin" [dateFormat]="'yy-mm-dd'"></p-calendar>
                </div>
                <div class="col-12">
                    <button pButton pRipple label="Créer un Sprint" class="w-auto" style="margin-top: 20px;" (click)="createSprint()"></button>
                    <button pButton pRipple label="Retour à la Liste" class="w-auto mt-3 ml-3" icon="pi pi-arrow-left" (click)="goBackToList()"></button>

                </div>
                
            </div>
        </div>
    </div>
</div>
