<div class="card">
    <p-table #dt [value]="sprints" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
        currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} entrées" [rowsPerPageOptions]="[10,25,50]"
        [globalFilterFields]="['titre', 'description', 'ordre', 'type', 'dateDebut', 'dateFin']">
        
        <ng-template pTemplate="caption">
            <div class="flex flex-wrap gap-2 align-items-center justify-content-between">
                <span class="p-input-icon-left w-full sm:w-20rem flex-order-1 sm:flex-order-0">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Recherche Sprint" class="w-full" />
                </span>
                <button (click)="navigateToCreateSprint()" pButton class="p-button-outlined w-full sm:w-auto flex-order-0 sm:flex-order-1" icon="pi pi-plus" label="Ajouter Sprint"></button>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="titre" class="white-space-nowrap" style="width:5%">Titre <p-sortIcon field="titre"></p-sortIcon></th>
                <th pSortableColumn="ordre" class="white-space-nowrap" style="width:5%">Ordre <p-sortIcon field="ordre"></p-sortIcon></th>
                <th pSortableColumn="description" class="white-space-nowrap" style="width:80%">Description <p-sortIcon field="description"></p-sortIcon></th>
                <th pSortableColumn="type" class="white-space-nowrap" style="width:20%">Type <p-sortIcon field="type"></p-sortIcon></th>
                <th pSortableColumn="dateDebut" class="white-space-nowrap" style="width:20%">Date de début <p-sortIcon field="dateDebut"></p-sortIcon></th>
                <th pSortableColumn="dateFin" class="white-space-nowrap" style="width:20%">Date de fin <p-sortIcon field="dateFin"></p-sortIcon></th>
                <th>Actions</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-sprint>
            <tr>
                <td>
                    <p-tableCheckbox [value]="sprint"></p-tableCheckbox>
                </td>
                <td>{{ sprint.titre }}</td>
                <td>{{ sprint.ordre }}</td>
                <td>{{ sprint.description }}</td>
                <td>{{ sprint.type }}</td>
                <td>{{ sprint.dateDebut | date: 'dd/MM/yyyy' }}</td>
                <td>{{ sprint.dateFin | date: 'dd/MM/yyyy' }}</td>
                <td>
                    <div class="flex">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editSprint(sprint)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteSprint(sprint)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton label="Supprimer les sélectionnés" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedSprints()" [disabled]="!selectedSprints || !selectedSprints.length"></button>
        </ng-template>
    </p-table>
</div>
